<script src="bower_components/angular-material/angular-material.min.js"></script>
<div class="jumbotron row" ng-init="adultCounter = 1">
    <div>
        <p>Search Car</p>
    </div>
    <div class="panel panel-login travaloLoginForm">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form ng-submit="login()" id="login-form" role="form">
                        <div class "row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="origin" ng-keyup="getOriginPlace()" id="origin" class="form-control" ng-model="carData.originCity" required value="" placeholder="Pick Up City">
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" name="origin" ng-keyup="getReturnPlace()" id="origin" class="form-control" ng-model="carData.returnCity" required value="" placeholder="Return City" ng-disabled="isReturnAndPickUpTheSame">
                            </div>
                        </div>
                        <div class "row form-group">
                            <div>
                                <div ng-show="areSuggestionsShowed" class="col-md-6">
                                    <!-- <a ng-repeat="place in suggestions" href="#" class="list-group-item disabled">{{place.label}} in {{place.location}}</a>-->
                                    <input ng-repeat="place in suggestions" name="login-submit" id="login-submit" tabindex="4" class="travaloLink form-control btn-login suggestions" value={{place.label}} ng-click="onSuggestionOriginClicked(place)">
                                </div>
                                <div ng-show="areSuggestionsReturnShowed" class="col-md-6" style="float:right;">
                                    <!-- <a ng-repeat="place in suggestions" href="#" class="list-group-item disabled">{{place.label}} in {{place.location}}</a>-->
                                    <input ng-repeat="place in returnSuggestions" name="login-submit" id="login-submit" tabindex="4" class="travaloLink form-control btn-login suggestions" value={{place.label}} ng-click="onSuggestionReturnClicked(place)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <h5 style="float:left;">The same as Pick Up City</h5>
                                <input class="col-md-1" style="margin-top:2%;" type="checkbox" ng-model="isReturnAndPickUpTheSame">
                            </div>
                        </div>
                        <div class "row">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-3 form-group">
                                <input type='text' ng-model="carData.pickUpDate" class="form-control" id='datetimepicker5' length="5" placeholder="Pick Up Date" />
                            </div>

                            <div class="col-md-3 form-group">
                                <input type='text' ng-model="carData.dropOffDate" class="form-control" id='datetimepicker6' length="5" placeholder="Return Date" />
                            </div>
                            <!--            <div class='col-sm-3'>
                                <div class="col-md-12">
                                    <input type='text' class="form-control" id='datetimepicker2' length="5" placeholder="Arrival Date" />
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-12" style="margin-top:7%;">
                                    <input type='text' class="form-control" id='datetimepicker1' length="5" placeholder="Departure Date" />
                                </div>
                            </div>-->
                        </div>

                        <div class "row form-group">
                            <div class="col-md-6">
                                <h5 class="col-md-4">Adults:</h5>
                                <a style="float:left; width:5%;" ng-click="decreaseAdultCounter()">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                </a>
                                <div style="width:25%; float:left; margin: 0 2% 0 2%">
                                    <input type="text" name="adults" id="adults" class="form-control" ng-model="adultCounter" required ng-value="adultCounter">
                                </div>
                                <a style="float:left; width:5%;" ng-click="adultCounter=adultCounter+1">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </a>
                                <h5 class="col-md-4">Children:</h5>
                                <a style="float:left; width:5%;" ng-click="decreaseChildCounter()">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                </a>
                                <div style="width:25%; float:left; margin: 0 2% 0 2%">
                                    <input type="text" name="childs" id="childs" class="form-control" ng-model="childCounter" required ng-value="childCounter">
                                </div>
                                <a style="float:left; width:5%;" ng-click="childCounter=childCounter+1">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <script type="text/javascript">
                                $(function() {
                                    $('#datetimepicker5').datetimepicker({
                                        locale: 'pl',
                                        format: 'MM/DD/YYYY',
                                    });
                                });
                                $(function() {
                                    $('#datetimepicker6').datetimepicker({
                                        locale: 'pl',
                                        format: 'MM/DD/YYYY',
                                    });
                                });

                            </script>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 ">
                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="travaloLink form-control btn-login" value="Search" ng-click="searchCars()">
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
