<script src="bower_components/angular-material/angular-material.min.js"></script>
<div class="jumbotron row" ng-init="adultCounter = 1">
    <div>
        <p>Search Car Result</p>
    </div>
    <div class="panel panel-login travaloLoginForm">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class "row form-group">
                        <div class="col-md-12">
                            <div class="panel panel-default hotelSearchPanel" ng-repeat="car in cars">
                                <!-- Default panel contents -->
                                <div style="padding: 2%;" class="row">
                                    <img class="col-md-4" src={{car.vehicle.imageURL}} alt="Car">
                                    <div class="col-md-7">
                                        <h2>{{car.vehicle.description}}</h2>
                                        <div class="col-md-12" style="margin-top:10%;">
                                            <h3 class="col-md-6">{{car.fare.total.value}}{{car.fare.currencyCode}}</h3>
                                            <div class="col-md-6" style="margin-top: 4%;">
                                                <form action="http://booking.com">
                                                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="travaloLink form-control btn-login" value="Book">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
